<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}" 
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark">
<!-- <nav class="navbar navbar-expand-sm navbar-dark bg-dark"> -->
    

    <a class="navbar-brand" href="{{ site.baseurl }}/" >
     <img src="{{ site.baseurl }}/favicon.ico" width="30" height="30" style="margin-right:5px" class="d-inline-block align-top" alt="">
      {{ site.title | escape }}
    </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02" >
        <ul class="navbar-nav mr-auto">
        <ul class="navbar-nav">
            <li class="nav-item {% if page.url == '/'%}active{% endif %}">
                <a class="nav-link" href="{{ site.baseurl }}/">Home</a>
            </li> 
            {% for nav_page in site.nav_pages %}
                {% if nav_page.subpages %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{nav_page.name | capitalize }}</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for subpage in nav_page.subpages %}
                                <a class="dropdown-item" href="{{ site.baseurl }}/{{subpage}}">{{subpage | capitalize }}</a>
                            {% endfor %}
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item {% if nav_page.name == page.id %}active{% endif %}">
                        <a class="nav-link" href="{{ site.baseurl }}/{{nav_page.name}}">{{nav_page.name | capitalize }}</a>
                    </li> 
                {% endif %}
            {% endfor %}
        </ul>
  </div>
</nav>

<div class="uc-banner">
	<span class="uc-vert-center"></span>
	<div class="uc-text-div">
		<div class="uc-img"> <i class="fa fa-wrench fa-2x uc-vert-center"></i></div>
		<div class="uc-text">
			Under construction. Please check back soon for updates!
		</div>
		<div class="uc-img"> <i class="fa fa-wrench fa-2x uc-vert-center"></i></div>
		<div style="clear:both"> </div>
	</div>
</div>
<style>
	  /*
 Under Construction
*/

.uc-text-div {
    display: inline-block;
    vertical-align: middle;
}
.uc-banner {
    position: fixed;
    bottom: 0;
    height: 30px;
    width: 100%;
    text-align: center;
    background-color: #ffeb3b;
    z-index: 99999;
}
.uc-img {
    float: left;
    padding: 0 3px;
}
.uc-vert-center {
    line-height: 30px;
}
.uc-img-barrier {
    height: 15px;
}
.uc-text {
    float: left;
    padding-top: 2px;
    font-family: 'Allerta Stencil', sans-serif; /* google font, loaded on html page */
    font-size: 8px;
    color: #ad1457;
}
@media only screen and (min-width: 600px) {
    .uc-banner {
        position: fixed;
        height: 40px;
        width: 100%;
        text-align: center;
        background-color: #ffeb3b;
        z-index: 99999;
    }
    .uc-img {
        float: left;
        padding: 0 15px;
    }
    .uc-vert-center {
        line-height: 40px;
    }
    .uc-text {
        float: left;
        padding-top: 5px;
        font-family: 'Allerta Stencil', sans-serif;
        font-size: 16px;
        color: #ad1457;
    }
}
@media only screen and (min-width: 1170px) {
    .uc-banner {
        position: fixed;
        height: 50px;
        width: 100%;
        text-align: center;
        background-color: #ffeb3b;
        z-index: 99999;
    }
    .uc-img {
        float: left;
        padding: 0 35px;
    }
    .uc-vert-center {
        line-height: 50px;
    }
    .uc-text {
        float: left;
        padding-top: 0px;
        font-family: 'Allerta Stencil', sans-serif; /* google font, loaded on html page */
        font-size: 28px;
        color: #ad1457;
    }
}
</style>