---
layout: default
---

<div id="homeid" class="col-sm-7 col-xs-12">
{{ content }}
</div>

<!-- <div class="col-sm-5 col-xs-12 border rounded overflow-hidden  shadow-sm h-position-relative"> -->
<div id="newsid" class="col-sm-5 col-xs-12" >
{% include sidebar.html %}
</div> 

{% raw %}
<script>
$(document).ready(function() {
// executes when HTML-Document is loaded and DOM is ready
$( ".card" ).hover(
  function() {
    $(this).addClass('shadow-lg')
  }, 
  function() {
    $(this).removeClass('shadow-lg');
  }
);
// document ready  
});
$(document).ready(function() {
// executes when HTML-Document is loaded and DOM is ready
$( ".cardlink" ).hover(
  function() {
    $(this).css('cursor', 'pointer'); 
  }
);
// document ready  
});
</script>

{% endraw %}
<br>
<div class="py-5 bg-light" style="border-radius: 5px;">
  <div class="container">
    <div class="row">
      {% include cards.html %}
    </div>
  </div>
</div>

 <!-- redirect user to admin after they prove identity, if trying to access cms -->
 <script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
